{
  "extends": "airbnb/base",
  "env": {
    "browser": true
  },
  "plugins": [
    "react", "jsx"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    // Override any settings from the "parent" configuration
    "comma-dangle": 0,
    "no-useless-constructor": 0,
    "no-alert": 0,
    "no-console": 0,
    "jsx/uses-factory": [1, {"pragma": "JSX"}],
    "jsx/factory-in-scope": [0, {"pragma": "JSX"}],
    "jsx/mark-used-vars": 1,
    "jsx/no-undef": 1
  }
}