@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
       url("/public/fonts/roboto/light/roboto_light.eot")
         format("embedded-opentype"),
       url("/public/fonts/roboto/light/roboto_light.woff")
         format("woff"),
       url("/public/fonts/roboto/light/roboto_light.woff2")
         format("woff2"),
       url("/public/fonts/roboto/light/roboto_light.ttf")
         format("truetype"),
       url("/public/fonts/roboto/light/roboto_light.svg")
         format("svg");

  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
       url("/public/fonts/roboto/regular/roboto_regular.eot")
         format("embedded-opentype"),
       url("/public/fonts/roboto/regular/roboto_regular.woff")
         format("woff"),
       url("/public/fonts/roboto/regular/roboto_regular.woff2")
         format("woff2"),
       url("/public/fonts/roboto/regular/roboto_regular.ttf")
         format("truetype"),
       url("/public/fonts/roboto/regular/roboto_regular.svg")
         format("svg");

  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
       url("/public/fonts/roboto/bold/roboto_bold.eot")
         format("embedded-opentype"),
       url("/public/fonts/roboto/bold/roboto_bold.woff")
         format("woff"),
       url("/public/fonts/roboto/bold/roboto_bold.woff2")
         format("woff2"),
       url("/public/fonts/roboto/bold/roboto_bold.ttf")
         format("truetype"),
       url("/public/fonts/roboto/bold/roboto_bold.svg")
         format("svg");

  font-weight: bold;
}

@font-face {
  font-family: "Material Icons";
  src: local("Material Icons"),
       url("/public/fonts/material-design-icons/mdi_regular.eot")
         format("embedded-opentype"),
       url("/public/fonts/material-design-icons/mdi_regular.woff")
         format("woff"),
       url("/public/fonts/material-design-icons/mdi_regular.woff2")
         format("woff2"),
       url("/public/fonts/material-design-icons/mdi_regular.ttf")
         format("truetype"),
       url("/public/fonts/material-design-icons/mdi_regular.svg")
         format("svg");

  font-weight: 400;
}
