@import "../colors";

.shadow-container {
  @extend .mdl-shadow--4dp;
  padding: 16px;
  background-color: white;
}

.list--unstyled {
  list-style: none;
  padding: 0;

  li {
    padding: 0;
  }
}

.list-table {
  li > a {
    display: flex;
    flex-direction: row;
    text-decoration: none !important;
    padding: 4px 8px;
    color: $color-text;

    & > * {
      flex-grow: 1;
      flex-basis: 0;
    }
  }
}

.actions {
  margin-top: 16px;

  & > *:not(:first-child) {
    margin-left: 8px;
  }
}

.radio-group {
  .mdl-radio {
    margin-right: 16px;
  }
}