$size-normal: 300px;
$size-zoomed: 400px;

.slide {
  position: relative;
  z-index: 1;
}

.slide__bubble {
  position: absolute;
  z-index: 5;
  width: $size-normal;
  height: $size-normal;
  opacity: 1;

  filter: drop-shadow(0 0 16px #666);
  transition: all 0.3s;

  &.slide__bubble--centered {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &.slide__bubble--zoomed {
    width: $size-zoomed;
    height: $size-zoomed;
  }

  &.slide__bubble--cloud:not(.slide__bubble--centered) {
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
  }

  &.slide__bubble--breathalyzer:not(.slide__bubble--centered) {
    left: 50%;
    top: 95%;
    transform: translate(-50%, -100%);
  }

  &.slide__bubble--beer-dispenser:not(.slide__bubble--centered) {
    left: 100%;
    top: 5%;
    transform: translate(-100%, 0);
  }

  &.slide__bubble--drunk-pic1 {
    width: 40%;
    bottom: 0;
    top: 0;
    height: auto;
    left: 2.5%;
  }

  &.slide__bubble--drunk-pic2 {
    height: 50%;
    top: 0;
    right: 2.5%;
    width: 50%
  }

  &.slide__bubble--drunk-pic3 {
    height: 60%;
    top: auto;
    bottom: 0;
    right: 2.5%;
    width: 60%
  }

  &.slide__bubble--intro-logo {
    width: 500px;
    height: 500px;
    filter: drop-shadow(0 0 19px white);
  }

  &.slide__bubble--intro-logo--ontop {
    z-index: 10;
    width: 600px;
    height: 600px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.slide__stamp {
  position: absolute;
  color: black;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -100%);
  font-weight: bold;
  text-align: center;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 0 8px;
  margin: 0;
}

.slide__arrow {
  $color: black;

  height: 40px;
  width: 200px;
  display: flex;
  flex-direction: row;

  position: absolute;
  z-index: 4;
  opacity: 1;

  filter: drop-shadow(0 0 16px #666);
  transition: all 0.3s;

  .slide__arrow__track {
    background-color: $color;
    height: 20px;
    flex: 1;
    align-self: center;
  }

  .slide__arrow__head:first-child {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 40px 20px 0;
    border-color: transparent $color transparent transparent;
  }

  .slide__arrow__head:last-child {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 40px;
    border-color: transparent transparent transparent $color;
  }

  &.slide__arrow--cloud-breathalyzer {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
  }

  &.slide__arrow--cloud-beer-dispenser {
    left: 70%;
    top: 20%;
    transform: translate(-50%, -50%) rotate(8deg);
  }
}

.invisible {
  opacity: 0;
}